.main {background-color: white;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;}

.imgtext{display:flex;
flex-direction:row;
justify-content: center;
}

.input{display:flex;
flex-direction: column;
gap: 4em;
justify-content: center;
align-items:center}


.container{ background-color: rgb(111, 255, 0);
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;}

.text{height:60px;
width: 350px;
text-align:center;
}

.button{padding:30px;
width: 280px;
background-color: rgb(158, 255, 138) ;
border-radius: 20px;
outline: none;
border:none;
cursor: pointer;
}
.button:hover{
    background-color: rgb(2, 143, 0);
}
.imgg{height: 80px;}
.lastp{ color:rgb(53, 73, 76);
height: 50;
width: 490px;
font-size:25px;
padding:20px;
text-align:center;}
