.main {background-color: rgb(0, 27, 90);
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top:-40px;
}

.imgtext{display:flex;
flex-direction:row;
justify-content: center;
}
.h1{color: white;
font-family:monospace;}
.input{display:flex;
flex-direction: column;
gap: 4em;
justify-content: center;
align-items:center}


.container{ background-color: rgb(0, 27, 90);
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;}

.text{height:60px;
width: 350px;
text-align:center;
font-size: 30px;
font-family:monospace;}

.button{padding:30px;
width: 280px;
background-color: rgb(0, 191, 255) ;
border-radius: 20px;
outline: none;
border:none;
cursor: pointer;
color:rgb(0, 0, 0);
font-size:20px;
font-family:monospace;
}
.button:hover{
    background-color: rgb(21, 0, 255);
}
.imgg{height: 80px;}
.lastp{ color:rgb(255, 255, 255);
height: 50;
width: 490px;
font-size:25px;
padding:20px;
text-align:center;
font-family:monospace;}
